{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "React": true,
    "_": true,
    "WS": true,
    "App": true,
    "$": true,
    "ActionCable": true
  },
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
