$bg: #ebebeb;
$body-bg: $bg;
$blue: #1d73f3;

$brand-primary: #255F85;

$plus: #4C935B;
$delta: #CC2936;
$vote-tally: #3c2105;
$my-vote-tally: $brand-primary;

$greyTransparent: rgba(82, 82, 82, 0.88);
$darkerGrey: rgba(69, 69, 69, 1);

// z-indexes
$zIndex-group-badge: 10;
$zIndex-retro-overlay: 15;
$zIndex-clock: 50;
$zIndex-notifications: 1000;

$baseBorderRadius: 4px;

$mobile-breakpoint: 600px;


// Custom bootstrap variables must be set or import before bootstrap itself.
$fa-font-path: "~font-awesome/fonts";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~rc-tooltip/assets/bootstrap.css";
@import "animations";
@import "retro";
@import "cards";
@import "sidebar";
@import "clock";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700');

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

input[type="text"],
input[type="password"],
select:focus,
textarea {
  font-size: 16px;
}

.btn-link {
  &:active,
  &:focus {
    outline: none;
  }
}

button {
  i.fa {
    margin-right: 4px;
  }
}

.rc-tooltip {
  .rc-tooltip-inner {
    text-align: center;
  }
}

.notification-bar {
  z-index: $zIndex-notifications;
  .notification-bar-message {
    font-size: 18px;
  }
}

.retro {
  width: 100vw;
  height: 100vh;
  display: flex;

  .clock {
    left: 200px;
  }

  &--compact {
    .clock {
      left: 75px;
    }
  }
}

.retro-left {
  background: $darkerGrey;
  color: white;
  padding: 20px;
  width: 200px;
  transition: width 200ms ease-in;

  &--compact {
    width: 75px;
  }
}

.retro-right {
  height: 100vh;
  flex: 2;
  display: grid;
  grid-template-rows: auto 75px;
}

.retro-right-bottom {
  background: $greyTransparent;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.control-panel {
  display: flex;
  align-items: center;
  width: 100%;

  &--selection {
    justify-content: space-between;
    padding: 10px 60px;

    .selection-controls {
      button {
        margin: 0 5px;
      }
    }
  }

  .inputs {
    font-size: 12px;
    width: 100%;

    .btn {
      padding-top: 7px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .retro {
    display: block;

    .clock {
      left: 0;
    }
  }

  .retro-left {
    display: none;
  }

  .control-panel {
    .input-tip {
      display: none;
    }
  }
}

.retro-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: $zIndex-retro-overlay;
}

.modal {
  overflow-y: auto;
}

.help-block--error {
  color: $brand-danger;
}
