.create-retro {
  margin: 70px auto;
  text-align: center;
  width: 400px;
  background: darken($bg, 10%);
  padding: 30px;
  border-radius: 4px;
}

.retro-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
  justify-content: space-around;

  &--plus,
  &--delta {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
    align-content: flex-start;
  }
}

.card {
  color: white;
  margin: 5px;
  display: block;
  position: relative;

  &__left,
  &__content,
  &__right {
    vertical-align: top;
    display: inline-block;
  }

  &__left,
  &__right {
    width: 35px;
    height: 150px;
    position: relative;
  }

  &__left {
    border-radius: 4px 0 0 4px;

    i {
      font-size: 24px;
      top: 54px;
      position: relative;
      left: 6px;
    }
  }

  &__right {
    border-radius: 0 4px 4px 0;

    .btn {
      width: 35px;
      padding: 10px;

      &.mine {
        background: $my-vote-tally;
      }
    }

    .btn:hover {
      i {
        color: gray;
      }
    }
  }

  &__content {
    word-break: break-word;
    overflow-y: auto;
    height: 150px;
    width: 190px;
    padding: 10px;
  }

  &__votes {
    position: absolute;
    font-size: 15px;
    width: 35px;
    text-align: center;
    bottom: 0;
    left: 0;
    background: $vote-tally;
    padding: 10px 0;
    border-bottom-left-radius: 4px;
  }

  &__delete {
    position: absolute;
    bottom: 0;
    left: 0;

    i {
      color: red;
    }

    &.btn:hover {
      i {
        color: darken(red, 20%);
      }
    }
  }
}

.delta-card {
  &--selected {
    box-shadow: 0 0 40px #131313;
  }

  .card__content {
    background: $delta;
  }

  .card__left,
  .card__right {
    background: darken($delta, 20%);
  }
}

.plus-card {
  .card__content {
    background: $plus;
  }

  .card__left,
  .card__right {
    background: darken($plus, 20%);
  }

  .card__left {
    i {
      left: 8px;
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
