$temp4: #204d88;
$temp5: $grey;
$temp6: #883520;

$temperatures: (
  "0": lighten($temp4, 40%),
  "1": lighten($temp4, 30%),
  "2": lighten($temp4, 20%),
  "3": lighten($temp4, 10%),
  "4": $temp4,
  "5": $grey,
  "6": $temp6,
  "7": lighten($temp6, 10%),
  "8": lighten($temp6, 20%),
  "9": lighten($temp6, 30%),
  "10": lighten($temp6, 40%),
);

@each $temp, $color in $temperatures {
  .temperature-#{$temp} {
    color: $color;
  }
}

.temp-check-summary {
  &--avg {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &--item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;

    &:last-child {
      border-bottom: none;
    }
  }

  &--temp {
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    text-align: center;
  }

  &--notes {
    white-space: pre-line;
    flex: 2;
    word-break: break-word;
  }
}
