<template id="plusTemplate">
  <div class="plus-card">
    <div class="plus-card__icon"><%= fa_icon "plus" %></div>
    <div class="plus-card__content">
      ${ content }
    </div>
  </div>
</template>

<template id="deltaTemplate">
  <div class="delta-card">
    <div class="delta-card__icon"><%= fa_icon "exclamation-triangle" %></div>
    <div class="delta-card__content">
      ${ content }
    </div>
  </div>
</template>

<script>
var plusTemplate = _.template($('#plusTemplate').html());
var deltaTemplate = _.template($('#deltaTemplate').html());
</script>
