<div class="create-retro">
  <button class="btn btn-primary create-retro-btn" id="createRetroBtn">
    <%= fa_icon "play" %> Start retro
  </button>
</div>

<script>
$('#createRetroBtn').click(function () {
  fetch('/retro/new', {
    method: 'POST',
    credentials: 'include',
    body: JSON.stringify({}),
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
      'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]').content,
    },
  })
  .then(function(res) {
    return res.json();
  })
  .then(function (retro) {
    window.location.href = '/retro/' + retro.key;
  });
});
</script>
