$bg: #ebebeb;
$body-bg: $bg;
$blue: #1d73f3;

$brand-primary: #255F85;

$plus: #4C935B;
$delta: #CC2936;
$vote-tally: #3c2105;
$my-vote-tally: $brand-primary;

$grey: rgba(90, 90, 90, 1);
$grey-transparent: fade-out($grey, 0.12);
$grey10: darken($grey, 10%);
$grey20: darken($grey, 20%);

$border-color: 1px solid darken(white, 20%);

// z-indexes
$zIndex-group-badge: 10;
$zIndex-clock: 50;
$zIndex-sidebar-open-btn: 55;
$zIndex-sidebar: 60;
$zIndex-notifications: 1000;

$baseBorderRadius: 4px;

$mobile-breakpoint: 750px;


// Custom bootstrap variables must be set or import before bootstrap itself.
$fa-font-path: "~font-awesome/fonts";
$icon-font-path: "../assets/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~rc-tooltip/assets/bootstrap";
@import "mixins";
@import "animations";
@import "buttons";
@import "notifications";
@import "retro";
@import "cards";
@import "sidebar";
@import "clock";
@import "temperature-checks";
@import "summary";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700');

body {
  @include fontRegular();
  height: 100%;
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="password"],
select:focus,
textarea {
  font-size: 16px;
}

.rc-tooltip {
  .rc-tooltip-inner {
    text-align: center;
  }
}

.retro {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;

  .clock {
    left: 200px;
  }
}

.retro-left {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: $zIndex-sidebar;
}

.retro-right {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  flex: 2;
  display: grid;
  grid-template-rows: auto 75px;
}

.retro-right-bottom {
  background: $grey;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.control-panel {
  display: flex;
  align-items: center;
  width: 100%;

  &--selection {
    justify-content: space-between;
    padding: 10px 60px;

    .selection-controls {
      button {
        margin: 0 5px;
      }
    }
  }

  .inputs {
    font-size: 12px;
    width: 100%;

    .btn {
      padding-top: 7px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .retro {
    display: block;

    .clock {
      left: unset;
      right: 0;
    }
  }

  .retro-left {
    position: fixed;
    top: 0;
    left: 0;

    &--hidden {
      display: none;
    }
  }

  .control-panel {
    .input-tip {
      display: none;
    }
  }
}

.modal {
  overflow-y: auto;
}

.help-block--error {
  color: $brand-danger;
}
