.btn-link {
  &:active,
  &:focus {
    outline: none;
  }
}

.btn-dark {
  background-color: $grey20;
  color: white;

  &:hover,
  &:focus {
    color: darken(white, 20%);
  }
}

button {
  i.fa {
    margin-right: 4px;
  }
}