.clock {
  padding: 8px 10px;
  border-radius: $baseBorderRadius;
  background: $grey-transparent;
  color: white;
  font-size: 21px;
  position: fixed;
  bottom: 75px;
  margin: 15px;
  z-index: $zIndex-clock;
}