.create-retro {
  margin: 70px auto;
  text-align: center;
  width: 400px;
  background: darken($bg, 10%);
  padding: 30px;
  border-radius: 4px;

  &__title {
    width: 400px;
    margin: auto;
    font-size: 54px;
    text-align: center;
    color: darken($bg, 8%);
  }
}

@media (max-width: $mobile-breakpoint) {
  .create-retro {
    width: 100%;

    &__title {
      width: 100%;
    }
  }
}

.retro-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: space-around;
  overflow-y: scroll;
  position: relative;

  &--plus,
  &--delta {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
    align-content: flex-start;
  }
}

@media (max-width: $mobile-breakpoint) {
  .retro-container {
    &--plus,
    &--delta {
      width: 100%;
    }
  }
}

.delta-group-display {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: $border-base;

    &:last-child {
      border-bottom: none;
    }

    &__content {
      width: 360px;
    }

    &__votes {
      background: #c00;
      color: #fff;
      border-radius: 15px;
      padding: 5px 8px;
    }

    &__actions {
      display: flex;
      align-items: center;

      .upvote .fa,
      .downvote .fa {
        color: darken(white, 40%);
      }

      .upvote.mine .fa {
        color: $my-vote-tally;
      }
    }
  }
}

.team-summary__load-more {
  text-align: center;
  margin: 15px 0;
}
