$temp4: #93dafa;

$temperatures: (
  "0": darken($temp4, 40%),
  "1": darken($temp4, 30%),
  "2": darken($temp4, 20%),
  "3": darken($temp4, 10%),
  "4": $temp4,
  "5": #acacac,
  "6": #f5ec3d,
  "7": #fee402,
  "8": #f1a901,
  "9": #e27414,
  "10": #d42022,
);

@each $temp, $color in $temperatures {
  .temperature-#{$temp} {
    color: $color;
  }
}

.temp-check-summary {
  &--avg {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &--item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;

    &:last-child {
      border-bottom: none;
    }
  }

  &--temp {
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    text-align: center;
  }

  &--notes {
    white-space: pre-line;
    flex: 2;
    word-break: break-word;
  }
}

.temperature-check-chart {
  width: 100%;
  position: relative;

  form {
    position: absolute;
    top: 0;
    right: 0;
  }
}
