.create-retro {
  margin: 70px 0;
  text-align: center;
}

#retroBoard {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
  justify-content: space-around;
}

.plus-card,
.delta-card {
  width: 190px;
  color: white;
  height: 150px;
  overflow: visible;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  display: block;
  position: relative;

  .item-type-icon {
    font-size: 24px;
    top: 5px;
    position: relative;
    margin-right: 9px;
  }

  &__content {
    word-break: break-word;
    overflow-y: auto;
    height: 80%;
  }

  &__votes {
    position: absolute;
    font-size: 15px;
    padding: 5px 18px;
    right: -7px;
    top: -2px;
    background: $vote-tally;
    border-radius: 20px;
    box-shadow: 0 0 10px black;

    &.mine {
      background: $my-vote-tally;
    }
  }
}

.delta-card {
  background: $delta;
}

.plus-card {
  background: $plus;
}
