.create-retro {
  margin: 70px 0;
  text-align: center;
}

#retroBoard {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
  justify-content: space-evenly;
}

.plus-card,
.delta-card {
  width: 190px;
  color: white;
  height: 150px;
  overflow-y: auto;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  display: block;
  position: relative;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &__content {
    word-break: break-word;
  }

  &__votes {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 2px 14px;
    background: red;
    border-radius: 20px;
  }
}

.delta-card {
  background: $delta;

  &:hover {
    background: darken($delta, 10%);
  }
}

.plus-card {
  background: $plus;

  &:hover {
    background: darken($plus, 10%);
  }
}
